# RabbitMQ 默认账号
RABBITMQ_DEFAULT_USER=jasmine
RABBITMQ_DEFAULT_PASS=123456

# 默认虚拟主机
RABBITMQ_DEFAULT_VHOST=/jasmine

# 宿主机端口映射（当前 NAS 开发环境使用 5673 / 15673）
RABBITMQ_AMQP_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673